body{
    background-color: red;
}

h1{
    background-color: white;
}

h2{
    background-color: black;
}
h3{
    background-color: purple;
}
h4{
    background-color: blue;
}

h5{
    background-color: yellow;
}
h6{
    background-color: aqua;
}
p{
    background-color: yellowgreen;
}